<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>P2_BoleraSySJSP_P2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ClienteServlet</display-name>
    <servlet-name>ClienteServlet</servlet-name>
    <servlet-class>co.edu.unbosque.controlador.ClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteServlet</servlet-name>
    <url-pattern>/ClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservaServlet</display-name>
    <servlet-name>ReservaServlet</servlet-name>
    <servlet-class>co.edu.unbosque.controlador.ReservaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservaServlet</servlet-name>
    <url-pattern>/ReservaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarIdServlet</display-name>
    <servlet-name>BuscarIdServlet</servlet-name>
    <servlet-class>co.edu.unbosque.controlador.BuscarIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarIdServlet</servlet-name>
    <url-pattern>/BuscarIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TorneoServlet</display-name>
    <servlet-name>TorneoServlet</servlet-name>
    <servlet-class>co.edu.unbosque.controlador.TorneoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TorneoServlet</servlet-name>
    <url-pattern>/TorneoServlet</url-pattern>
  </servlet-mapping>
</web-app>